backend/wp-admin/
backend/wp-includes/
backend/wp-content/plugins/
backend/license.txt
backend/readme.html
backend/wp-activate.php
backend/wp-blog-header.php
backend/wp-comments-post.php
backend/wp-config-sample.php
backend/wp-cron.php
backend/wp-links-opml.php
backend/wp-load.php
backend/wp-login.php
backend/wp-mail.php
backend/wp-settings.php
backend/wp-signup.php
backend/wp-trackback.php
backend/xmlrpc.php
backend/wp-content/index.php
backend/wp-content/themes/index.php
backend/index.php
frontend/node_modules